<ion-grid>
  <ion-row>
    <ion-col col-2>
      <strong> Recipient </strong>
    </ion-col>
    <ion-col col-10>0xde0b295669a9fd93d5f...</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <strong> Amount </strong>
    </ion-col>
    <ion-col col-10>0.5 ETH</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-2>
      <strong> Gas </strong>
    </ion-col>
    <ion-col col-10>21000</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-2>
      <strong> Gas Price  </strong>
    </ion-col>
    <ion-col col-10>	10 gwei</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-2>
      <strong> Total Ether </strong>
    </ion-col>
    <ion-col col-10>0.7 </ion-col>
  </ion-row>
  <hr>
  <div style="position: absolute;width: 90%;    bottom: 4rem;">
    <ion-button shape="square" color="primary" fill="solid" expand="full" (click)="confirm()">Confirm</ion-button>
    <ion-button shape="square" color="danger" fill="solid" expand="full" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-grid>
