<br>
<br>

<app-referral></app-referral>

<ion-card style="--background: #ff0038;    text-align: -webkit-center;    height: 28%;">
  <img src="../assets/lower_me.png"/>

  <!-- <ion-grid>
    <ion-row>
       <ion-col size="12">
         <div id="text_box">
           <h2 style="font-size: 1rem;font-weight:400;color:rgba(255,255,255,1);">
             如您希望获取更多的渴望币（FakeCova），请添加下方客服微信号，或者扫描二维码
           </h2>
           <h4 style="font-weight:400;color:#FFDB00;-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text;">
             {{support}}
           </h4>
         </div>
       </ion-col>
     </ion-row>
  </ion-grid> -->
</ion-card>

<!-- <div #mainBody>
  <img src="../../assets/referral_background.png" style="overflow:hidden;margin-bottom: -21rem;    width: 22rem;">
  <ngx-qrcode #qrcode [qrc-value]="referralLink" qrc-class="test-class"></ngx-qrcode>
</div> -->
