ion-card {
  height: 23%;
  background-size: 115% 145%;
  margin-top: 5%;
}

.test-class > img {
  width: 2rem!important
}

.test-class {
  margin-left: 7rem;
}

ion-header {
  --background: none;
  background-image: none!important;
}
