ion-content {
  --background:linear-gradient(351deg,rgba(247,77,48,1) 0%,rgba(254,130,68,1) 100%);
}

ion-card {
  --background: white;
}

ion-button {
  --background: #FF470C
}

ion-icon {
  color: #ffffff;
}