<div class="my-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="today" [routerLink]="['/today']"></ion-icon>
      <!-- <ion-label >Today</ion-label> -->
      <ion-label >今日</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/apps/home']">
      <ion-icon style="color: #4c8dff" name="apps"></ion-icon>
      <!-- <ion-label style="color: #4c8dff">Apps</ion-label> -->
      <ion-label style="color: #4c8dff">应用</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/wallet/home']">
      <ion-icon name="wallet"></ion-icon>
      <!-- <ion-label>Wallet</ion-label> -->
      <ion-label>钱包</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/me/home']">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>Me</ion-label> -->
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
