ion-card {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    --background: #FFFFFF;
    padding-top: 18% !important;
}

// .button {
//     background: #3AA7FF;
//     border-radius: 16px;
//     padding: 8px 20px;
//     color: #FFFFFF;
//   }

// ion-button {
//     --height: 2% !important;
//     --border-radius: 16px !important;
//     --vertical-align: middle !important;
// }

ion-card-title {
    font-size: 1.5rem !important;
}